table {
    border-collapse: collapse;
    border: 1px solid grey;
}
td, th {
    padding: 10px;
    border: 1px solid grey;    
}
.delete {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.deleted {
    color:red;
    display: none;
}
:visited {
    color: blue;
}
